.dots {
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex: 1;
  scroll-behavior: smooth !important;
  height: 110px;
}

.dot-container {
  min-width: 25% !important;
  padding: 0 8px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.dots::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dots {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mb-0 {
  margin-bottom: 0;
}
