.my-carousel {
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.my-carousel__dots-container {
  position: relative;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.my-carousel__action {
  color: #fff;
  background-color: #2a2a2a91 !important;
  width: 50px !important;
  height: 50px;
  margin: 0 40px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border-radius: 50%;
}

.my-carousel__action:hover {
  background-color: var(--grayContainer-color) !important;
}

.my-carousel__action span {
  font-size: 16px;
}

.my-carousel__item {
  background-color: #364d79;
  border-radius: 10px;
  position: relative;
  height: 500px;
  transition: all 0.3s ease-in-out;
}
.my-carousel__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
