.my-carousel {
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.my-carousel__action:hover {
  background-color: var(--grayContainer-color);
}

.my-carousel__dots-container {
  position: relative;
  display: flex !important;
  flex-direction: row !important;
}

.my-carousel__action {
  color: #fff;
  background-color: gray;
  width: 100px !important;
  height: 100%;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.my-carousel__action span {
  transform: scale(3);
}

.my-carousel__item {
  background-color: #364d79;
  border-radius: 10px;
  position: relative;
  height: 500px;
  transition: all 0.3s ease-in-out;
}
.my-carousel__item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
