.title-bar{
    position: relative;
    background: rgb(26, 26, 26);
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(53, 53, 53);
}

.logo{
    width: 60px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 53%, 75% 100%, 0% 100%);
}
.logo img{
    height: 20px;
    width: auto;
    margin: 10px 0 0 12px;
}
.btn-title-bar{
    z-index:1000000000;
    height: 35px;
    display: flex;
    justify-self: flex-end;
    padding: 8px 10px 0 0;
}
.btn-title-bar button {
    z-index:1000000001;
    border: none;
    color: white;
}

.minimize, .maximize, .exit-app{
    z-index:1000000001;
    height: 20px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    background: transparent;
}
.exit-app{
    background:rgb(197, 25, 25);
    /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); */
    clip-path: circle(28% at 50% 50%);
}
.maximize , .minimize{
    /* clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
    clip-path: circle(28% at 50% 50%);
}
.minimize {
    background:#899e12;
}
.maximize {
    background:#c44c14
}

.minimize:hover {
    background:#d9ff00;
}
.maximize:hover {
    background:#ff5100
}
.exit-app:hover{
    background:rgb(255, 0, 0);
}
.title-text{    
    display: flex;
    width: calc(100vw - 190px)
}

.title-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0% 100%, 6% 50%, 0% 0%);
}
