.header {
  background-color: var(--grayContainer-color) !important;
  height: auto !important;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header__top-wrapper {
  display: flex !important;
  justify-content: space-between !important;
}

.header__tabs {
  display: flex !important;
}

.header__top-wrapper--right {
  display: flex;
}

.header__top-wrapper--right__btn-get-launcher {
  height: 42px !important;
  font-size: 12px !important;
  margin-left: 12px;
}

.header__bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grayContainer-color) !important;
}

.header__bottom-wrapper__input {
  width: 50% !important;
  margin: 0 35px !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: var(--white-color) !important;
}

.header__bottom-wrapper__logo {
  width: 240px;
  height: 86px;
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.header__bottom-wrapper__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__bottom-wrapper__wish-list {
  color: var(--white-color);
  font-size: var(--normalText-size);
  font-weight: bold;
}
.header--md {
  display: flex;
  justify-content: flex-start;
  padding: 0 !important;
}
.header--md .hide-on-md {
  display: none !important;
}
.header--md .header__bottom-wrapper {
  width: 100%;
  justify-content: space-between;
}
.header--md .header__bottom-wrapper .header__bottom-wrapper__input {
  width: 100% !important;
  margin: 0 10px 0 0 !important;
}
.header--md .header__bottom-wrapper .header__bottom-wrapper__logo {
  width: 100px;
  height: var(--header-height-on-tablet);
}
.header__drawer-btn {
  display: none;
}
.header--md .header__drawer-btn {
  width: var(--header-height-on-tablet);
  height: var(--header-height-on-tablet);
  background-color: var(--red-color);
  outline: none;
  border: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__drawer-btn__icon {
  font-size: 30px;
  color: var(--white-color) !important;
}
.header__top-wrapper--right__user {
  height: var(--buttonHeaderHeight-size);
  display: flex;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  color: var(--white-color) !important;
}
.header__top-wrapper--right__user span {
  margin-right: 10px;
}
.ant-dropdown-menu {
  background-color: var(--grayContainer-color) !important;
}
.ant-dropdown-menu-title-content {
  width: 100%;
  height: 100%;
  color: var(--white-color) !important;
  text-transform: uppercase !important;
  font-size: 10px !important;
  text-align: center !important;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: var(--lightGray-color) !important;
}
.ant-dropdown-menu-item {
  padding: 8px 12px !important;
}
