.tab {
  width: 113px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tab p {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12;
  font-weight: bold;
}

.tab:hover {
  background-color: #fff;
  color: var(--grayContainer-color);
}

.tab:hover p {
  color: var(--grayContainer-color);
}

.tab--active {
  background-color: #fff;
}

.tab--active p {
  color: var(--grayContainer-color);
}
