.tab {
  width: 113px;
  height: var(--buttonHeaderHeight-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

.tab p {
  margin: 0;
  text-transform: uppercase;
  color: rgb(167, 167, 167);
  font-size: 15px;
  font-weight: bold;
  transition: .3s;
}

.tab:hover {

  color: var(--grayContainer-color);
}

.tab:hover p {
  color: #fff
}

.tab--active {
  background-color: rgb(255, 255, 255);
}

.tab--active p:hover {
  color: var(--grayContainer-color) !important;
}
.tab--active p {
  color: var(--grayContainer-color);
}
