/* ADMIN */
.genres-container, .discount-container{
    padding-right: 50%;
    display: flex;
    flex-direction: column;
}
.admin-container h2{
    color: white;
}
.genres-container input{
    color: black;
}
.discount-container input{
    color: black;
}
.tag-discount{
    display: flex;
    
    color: white;
    margin-top: 10px;
    height: 30px;
   
}
.tag-discount-name{
    background-color: rgb(168, 48, 48);
    height: 30px;
    width: 200px;
    padding: 5px 0px 5px 10px;
}
.tag-discount-date{
    background-color: rgb(66, 66, 66);
    height: 30px;
    width: 500px;
    padding: 5px 0px 5px 10px;
}

/* CONSOLE */
h3{
    color: rgb(218, 218, 218) !important;
}
input{
    margin-top: 5px;
    background-color: #111111 !important;
    color: white !important;
    border-color: rgba(255, 255, 255, 0.199) !important;
    height: 40px;
  }
input:hover{
    background-color: #242424 !important;
    border-color: rgba(255, 255, 255, 0.199) !important;
  }
input:focus{
    background-color: #242424 !important;
    border-color: rgba(255, 255, 255, 0.199) !important;
  }
  .ant-input-group-addon button{
      height:40px;
      background-color: rgb(197, 36, 36);
      border: 0px solid transparent;
  }
  .ant-input-group-addon button:hover{
    background-color: rgb(165, 33, 33);
}
.ant-input-group-addon button:focus{
    background-color: rgb(197, 36, 36);
}
.console-content-toolbar button{
    background-color: rgb(197, 36, 36) !important;
    height: 40px;
}
.console-content-toolbar button:hover{
    background-color: rgb(165, 33, 33) !important;
}
.console-content-toolbar button:focus{
    background-color: rgb(165, 33, 33) !important;
}
.console-list-name button{
    background-color: rgb(34, 34, 34) !important;
    border: 0 solid transparent;
    color: rgb(182, 182, 182);
}
.console-list-name button:hover{
    color: rgb(255, 255, 255) !important;
}
.console-list-name button:focus{
    color: rgb(255, 255, 255) !important;
}
.console-container{
    padding: 0px 140px 0px 140px;
}
.ant-pagination-item-link{
    border: 0px solid transparent !important;
    color: white !important;
}
.ant-pagination-item {
    border: 0px solid transparent !important;
    color: white !important;
    background-color: rgb(37, 37, 37) !important;
}
.ant-pagination-item  a{
    color: rgb(167, 167, 167) !important;
}

.ant-pagination-item-active{

    border-color: transparent !important;
    background-color: rgb(75, 75, 75) !important;
}
.ant-pagination-item-active a{
    color: white !important; 
}
.console-header{
    background-color: rgb(39, 39, 39);
    height: 200px;
    border-radius: 10px;
    padding-top: 90px;
}
.console-avatar{
    background-color:rgb(128, 128, 128);
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
}
.console-content{
    padding-top: 200px;
    display: grid;
    grid-template-rows: 100px auto;
}
.console-content-toolbar{
    display: grid;
    grid-template-columns: 200px auto 200px;
}
.create-new-game-btn{

}
.cover{
    object-fit: cover;
    border-radius: 5px;
}
.ant-table-thead{
    background-color: #111111 !important;
    color: white !important;
}
.ant-table-row{
    background-color: #111111 !important;
    color: white !important;
}
.ant-table-row:hover{

}
.ant-table-cell{
    background-color: #111111 !important;
    color: white !important;
}
.ant-table-cell::before{

}
.ant-table-tbody > tr > td{
    border-bottom: 1px solid rgb(49, 49, 49) !important;
}
@media screen and (max-width: 1600px) {
    .console-container{
        padding: 0px 10px 0px 10px;
    }
}