/*margin*/
.button-m-top-60{
    margin-top: 60px !important;
}
/*padding*/
.pd-sign-in{
    padding: 100px 52px 16px;
}
/*color*/
.bgr-brow2{
    background-color: #161616;
}
.gray-5{
    color: #8D8D8D;
}

/*border*/
.border-radius-4{
    border-radius: 4px;
}

/*font*/
.fs-14{
    font-size: 14px;
}

.lh-18{
    line-height: 18px;
}

/*diff*/
.responsive-page-sign-in, .responsive-page-sign-up{
    color: #ffffff;
}
.page-content{
    max-width: 940px;
    margin: 70px auto;
    display: flex;
    justify-content: center;
}
.pd-sign-in{
    width: 530px;
}
.ant-input:focus{
    border: 1px solid rgba(0, 0, 0, 0) !important;
    outline: none;
}

.page-content .ant-input{
    background-color: #2A2A2A !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}
.full-width{
    width: 100%;
}
.login-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-title, .sign-up-title{
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 34px;
    color: var(--red-color);
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.login-content #error_display{
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
}
.checkout_error {
    padding: 16px;
    background: rgba( 0, 0, 0, 0.2 );
    border: 1px solid #b44040;
    max-width: 350px;
    margin: 0px auto 8px;
}
.a-create-account{
    margin: 20px 0 0 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.sign-up-title{
    color: #BB9023;
}
.sign-up-content .ant-btn-primary{
    background-color: #BB9023 !important;
    border-color: #BB9023 !important;
}
.btn-login-with-google{
    width: 100% !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border-radius: 5px !important;
}
.btn-login-with-google div{
    height: 40px !important;
}
.btn-login-with-facebook{
    height: 40px !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0072c9;
    border: 0px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.btn-login-with-facebook:hover{
    background-color: #005596;
}
.btn-login-with-facebook img{
    padding-right: 18px;
}
.btn-login-submit{
    background-color: var(--red-color) !important;
    border-radius: 5px !important;
    border: 0 !important;
}
.btn-login-submit:hover{
    background-color: rgb(175, 0, 0) !important;
}
.b-radius-5{
    border-radius: 5px !important;
}